@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  cursor: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; /* For headings, using a bolder weight */
}



/* Custom Cursor */
#custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: var(--cursor-color, black);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  z-index: 9999;
}


.testimonials-slideshow li {
  opacity: 0;
  transition: opacity 2ms ease-in-out;
  position: absolute;
  width: 100%;

}

.testimonials-slideshow li.active {
  opacity: 1;
  position: relative;
}    


@keyframes morph {
  0% {
      d: path("M362.22 106.11 C166.72 -122.64 -29.07 124.88 5.92 267.88 27.62 356.55 232.29 417.06 305.71 333.03 381.99 255.67 397.74 152.89 362.22 106.11");
  }
  25% {
      d: path("m316.58,90.83C13.58-120.17-18.42,175.83,16.58,318.83c21.7,88.67,202.76,58.02,316,10,125-53,34.87-202.58-16-238Z");
  }
  50% {
      d: path("m334.12,81.3C31.12-129.7-25.88,120.3,9.12,263.3c21.7,88.67,310.58,186.49,347,69,31-100,28.87-215.58-22-251Z");
  }
  75% {
      d: path("m316.58,90.83C13.58-120.17-18.42,175.83,16.58,318.83c21.7,88.67,202.76,58.02,316,10,125-53,34.87-202.58-16-238Z");
  }
  100% {
      d: path("M362.22 106.11 C166.72 -122.64 -29.07 124.88 5.92 267.88 27.62 356.55 232.29 417.06 305.71 333.03 381.99 255.67 397.74 152.89 362.22 106.11");
  }
}

@keyframes morph-mask {
  0% {
      d: path("M193.09 0.1 C109.19 -4.66 -58.55 214.66 20.84 302.31 95.99 380.82 135.51 309.24 189.81 306.26 280.76 304.54 291.95 370.99 332.59 333.22 336.46 324.43 393.79 256.46 335.76 137.83 310.95 85.69 290.48 41.14 263.72 22.59 238.33 5.22 221.12 1.77 193.09 0.1");
  }
  25% {
      d: path("m58.29,44.07C27.07,87.33-29.12,184.7,18.28,249.54c47.4,64.84,77.19,92.34,146.82,89.52s116.82-33.01,133.79-47.56,91.85-107.92,40.32-195.07C295.08,21.78,253.59,7.21,243.31,2.71,221.04-4.57,89.52.8,58.29,44.07Z");
  }
  50% {
      d: path("m191.86.06C107.98-4.12-59.9,229.36,21.86,307.42s106.37-11.44,154.86-9.81c91.65,3.09,100.26,94.22,150.27,59.39,5.93-4.4,76.28-84.46,14.71-214.14-24.52-54.49-49.38-102.45-75.74-119.87S223.53,1.91,191.86.06Z");
  }
  75% {
      d: path("m58.29,44.07C27.07,87.33-29.12,184.7,18.28,249.54c47.4,64.84,77.19,92.34,146.82,89.52s116.82-33.01,133.79-47.56,91.85-107.92,40.32-195.07C295.08,21.78,253.59,7.21,243.31,2.71,221.04-4.57,89.52.8,58.29,44.07Z");
  }
  100% {
      d: path("M193.09 0.1 C109.19 -4.66 -58.55 214.66 20.84 302.31 95.99 380.82 135.51 309.24 189.81 306.26 280.76 304.54 291.95 370.99 332.59 333.22 336.46 324.43 393.79 256.46 335.76 137.83 310.95 85.69 290.48 41.14 263.72 22.59 238.33 5.22 221.12 1.77 193.09 0.1");
  }
}

#animated-shape {
  animation: morph 20s infinite alternate linear;
}

#animated-mask {
  animation: morph-mask 20s infinite alternate linear;
}



.grid{
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1
  }
  50% {opacity: 0.5}
  100% {opacity: 1}
}

@keyframes showUp {
  0% {transform: translate3d(0,2em,0)}
  100% {transform: translate3d(0,0,0)}
}

@keyframes left1 {
  0% {transform: translate3d(-4em,0.15em,0); width: 0.65em;}
  50% {transform: translate3d(-1.65em,0.15em,0); width: 0.85em;}
  100% {transform: translate3d(0em,0.15em,0); width: 0.65em;}
}

@keyframes gotosite {
  0% {transform: translate3d(0,0,0)}
  100% {transform: translate3d(0,-100%,0)}
}

@keyframes bounceWave {
  0%, 100% { transform: translateY(0px); }
  25% { transform: translateY(-30px); }
  75% {transform: translateY(20px);}
}

.ps-logo{
  fill: #fff;
}


@keyframes fadeInBounce {
  0% { opacity: 0; transform: translateY(-20px); }
  50% { opacity: 0.5; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  background-color: transparent;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .header {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .header {
    top: 30px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .header {
    top: 10px;
    padding: 0px;
  }
}

.logo-container {
  display: flex;
  margin-right: 80px;
  align-items: center;
  transform: scale(1.4);
}


.preloader {
  z-index: 9999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #3357ff;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: background-color none; /* Smooth transition */

}


.done {
  animation: gotosite 0.6s cubic-bezier(0.55, 0.09, 0.16, 0.85) forwards;
  animation-delay: 1.8s;
}



